{% extends 'App_Arriendo_Peliculas/padre.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block contenido %}
<header class="masthead">
            <div class="container position-relative">
                
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">BIENVENIDOS !!</h1>    
                            <p class="mb-5">A la plataforma de Arriendos de Peliculas, donde podrás encontrar un sin numeros de peliculas.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% block titulo2 %}{% endblock titulo2 %}
{% endblock %}


{% block buscar %}
    <form action="{% url 'buscar_pelicula' %}" method="GET">
        <h1 style="font-size: 27px;">Puedes Buscar una Película:</h1>
        <!-- <input type="text" name="nombre" id="nombre" placeholder=""> -->
        <input type="text" name="nombre" id="nombre" placeholder="" style="width: 380px;">
        <input type="submit" value="Buscar">
    </form>
{% endblock %}
